/*configuração inicial*/
*{
    margin:0;
    padding:0;
    box-sizing : 0;
    }
    
    body{
    background-color : rgb(107, 135, 207);/*mudar*/
    color: black;/*mudar*/
    display:flex;
    justify-content : center;
    align-items : center;
    }
    #app{
    background : rgb(56, 58, 83);/*mudar*/
    display:flex;
    flex-direction:column;
    width:380px;/*mudar*/
    height:500px;/*mudar*/
    padding:15px;/*mudar*/
    border-radius: 15px;
    box-shadow:0 0 10px rgba(255, 0, 0, 0.5);/*mudar*/
    }
    main{
    padding : 30px;
    height : 100%;
    display: flex;
    flex-direction : column;
    align-items : center;
    text-align : center;
    }
    
    body{
    min-height:100vh;
    
    }
    #msg{
    width:100%;
    overflow-wrap : break-word;
    word-wrap : break-word;
    font-size : 18px;/*m*/
    }
    
    button{
    width:80px;/*m*/
    height:80px;
    background:radial-gradient(circle,rgb(0, 102, 165),rgb(38, 0, 255));/*m*/
    border-radius:50%;
    border:none;
    cursor:pointer;
    margin-top:auto;
    color:azure;/*m*/
    transition:0.3s;
    }
    button:hover{
    scale:1.1;
    }
    
    @media(max-width:480px){
    
    #app{
    width:100vw;
    height:100vh;
    border-radius:0;
    }
    }
    body{
    flex-direction: column;
    }
    p{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    }
    
    #msg {
      font-size: 1.35rem;
      line-height: 1.5;
      margin-bottom: 45px;
      max-width: 100%;           /* Garante que fique alinhado com o h1 */
      text-align: center;        /* Alinhamento explícito */
    }